<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>HelpCenter</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="styles.css">
</head>
<body>
    <a class="heading" href="/index.html">Home</a>
	<h1 class="heading">HelpCenter</h1>

	<fieldset>
        <legend>Add, Update or Delete</legend>
        
		<form action="#" th:action="@{/helpCenter}" th:object="${helpCenter}" method="post">

            <table>
                <tr>
                    <td><p>Option: </p></td>
                    <td><select id ="helpCenterOption" name="action" onchange="update()" th:field="*{aud}">
                        <option value="add">Add</option>
                        <option value="update">Update</option>
                        <option value="delete">Delete</option>
                    </select></td>
                </tr>
                <tr>
                    <td><p>HelpCenter ID: </p></td>
                    <td><input id="helpCenterId" type="text" placeholder="c****" maxlength="5" required th:field="*{cid}" /></td>
                </tr>
                <tr>
                    <td><p>Name: </p></td>
                    <td><input id="name" type="text" maxlength="20" required th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td><p>Address: </p></td>
                    <td><input id="helpCenterAddress" type="text" required th:field="*{address}"/></td>
                </tr>
                <tr>
                    <td><p>PhoneNo: </p></td>
                    <td><input id="helpCenterPhone" maxlength="10" type="text" required th:field="*{phoneNo}"/></td>
                </tr>
                <tr>
                    <td><p>City: </p></td>
                    <td><input id="city" type="text" maxlength="25" th:field="*{city}"/></td>
                </tr>
                <tr>
                    <td><p>County: </p></td>
                    <td><input id="county" type="text" maxlength="30" th:field="*{county}"/></td>
                </tr>
                <tr>
                    <td><p>State: </p></td>
                    <td><input id="state" type="text" maxlength="15" th:field="*{state}"/></td>
                </tr>
                <tr>
                    <td><input type="reset" value="Reset" onclick="hardReset()"/></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            
		</form>
	</fieldset>
    
    <script type="text/javascript">
        function update() {
            var option = document.getElementById("helpCenterOption").value;
            if(option === "add") {
                // Set required
            document.getElementById("helpCenterId").setAttribute("required", "true");
            document.getElementById("name").setAttribute("required", "true");
            document.getElementById("helpCenterAddress").setAttribute("required", "true");
            document.getElementById("helpCenterPhone").setAttribute("required", "true");
            document.getElementById("city").setAttribute("required", "true");
            document.getElementById("county").setAttribute("required", "true");
            document.getElementById("state").setAttribute("required", "true");
            } else if(option === "update") {
                // Set required
            document.getElementById("helpCenterId").setAttribute("required", "true");
            document.getElementById("name").setAttribute("required", "true");
            document.getElementById("helpCenterAddress").setAttribute("required", "true");
            document.getElementById("helpCenterPhone").setAttribute("required", "true");
            document.getElementById("city").setAttribute("required", "true");
            document.getElementById("county").setAttribute("required", "true");
            document.getElementById("state").setAttribute("required", "true");
            } else if(option === "delete") {
               // Set required
            document.getElementById("helpCenterId").setAttribute("required", "true");
            document.getElementById("name").setAttribute("required", "true");
            document.getElementById("helpCenterAddress").setAttribute("required", "true");
            document.getElementById("helpCenterPhone").setAttribute("required", "true");
            document.getElementById("city").setAttribute("required", "true");
            document.getElementById("county").setAttribute("required", "true");
            document.getElementById("state").setAttribute("required", "true");
            }
        }
        
        function hardReset() {
            // Set required
            document.getElementById("helpCenterId").setAttribute("required", "true");
            document.getElementById("name").setAttribute("required", "true");
            document.getElementById("helpCenterAddress").setAttribute("required", "true");
            document.getElementById("helpCenterPhone").setAttribute("required", "true");
            document.getElementById("city").setAttribute("required", "true");
            document.getElementById("county").setAttribute("required", "true");
            document.getElementById("state").setAttribute("required", "true");
        }
    </script>

</body>
</html>