<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Query #3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a class="heading" href="/index.html">Home</a>
    <h1 class="heading">Query #3</h1>
    
    <p class="description">Match Helper with HelpCenter in their City, County, or State.</p>
    
    <fieldset>
        <form action="#" th:action="@{/query3}" th:object="${query3}" method="post">
            
            <p>City: <input type="text" required th:field="*{city}" /></p>
			<p>County: <input type="text" required th:field="*{county}" /></p>
            <p>State: <input type="text" required th:field="*{state}" /></p>
            
            <p><input type="reset" value="Reset" /> <input type="submit" value="Submit" /></p>
        </form>
    </fieldset>

</body>
</html>